# dependencies
/node_modules

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production
.env.production.local
.google_apis.json

.early.coverage
.vercel
.wwebjs_auth/
.wwebjs_auth_default/
.env*
*.py

# database backups
/backups


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
